@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Nasa";
}

 
<h2>Nasa</h2>
 
<img width="720" src="@ViewData["image"]" />
 
<p>@ViewData["explanation"]</p>
